@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    font-family: "Dancing Script", cursive;
    font-weight: 400;
    font-size: 62.50%; /* (100/16)*10 === 10px */
    line-height: 1.7;
    
}

ul li{
    list-style: none;
}

a{
    font-size: 1.6rem; /* 16*1.6 because root or html has default 16px font-size */
    text-decoration: none; /* Taking the underline away*/
    font-weight: 400;
    color: white;
}

.header p, li{
    font-size: 1.6rem;
    margin-bottom: 0.5em; /* 0.5 * 1.6rem*/
    letter-spacing: 0.15em;
}

.header h1, h2, h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 400;
}

/* ######################################### utility classes #################################################### */

.container{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    
}
.lg-heading{
    font-size: 3.5rem;
}
.md-heading{
    font-size: 2.2rem;
}
.txt-red{
    color: red;
}

.txt-white{
    color: white;
    font-weight: bold;
}
/* 
.lt-background{
    background-color: rgba(245, 231, 202, 0.4);
} */

.btn{
    display: inline-block;
    padding: 0.05em 1.5em;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0.5em 0;
}

.btn-primary{
    background-color: black;
    border-radius: 1em;
}

.btn-primary:hover{
    background-color: chocolate;
}
.btn-secondary{
    border: 2px solid orange;
    border-radius: 1.5em;
    color: orange;
}

.btn-secondary:hover{
    background-color: chocolate;
}

.bg-dark{
    background-color: #0f0707;
}




/* ############################################# Header Styling ################################### */


.header{
    position: relative;
    height: 99vh;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/pancake.jpg");
    /* background: conic-gradient(rgba(251, 251, 244, 0.05), rgba(251, 251, 244, 0.05)) , url('../img/waffles.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.navbar .logo{
    float: left;
    font-size: 3.5rem;
}

.navbar .nav-items{
    float: right;
    margin-top: 1rem;
    
}

.navbar .nav-item{
    display: inline-block;
    padding: 0.5rem;
    text-transform: uppercase;
}

.navbar::after{
    content: "";
    display: block;
    clear: both;
}

.navbar a:link,
a::after{
    color: white;
    font-weight: bold;
}

/* ###########################################  Header Content Styling ####################################################### */

.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    /* height: 300px; */
}

.header-content h1{
    text-transform: uppercase;
    font-weight: 400;
}
.header-content p{
    text-transform: uppercase;
}
/* 
.header-content{
    text-align: center;
    margin: 3.5em auto;
    padding: 2.35em;
    border: 3px solid black;
}

.header-content a{
    color: red;
}
.header a:hover{
    background-color: white;
} */


/* ################################################### SHOWCASE SECTION ######################################## */

.showcase{
    background: chocolate;
    padding: 10rem 0;
}


/* .showcase .row{
    box-sizing: border-box;
} */
.row{
    /* border: 2px solid black; */
    height: 450px;
    background: rgba(0, 0, 0, 0.774);
    box-shadow: 0px 0px 20px 0px #fffdd04f;
}

.row1{
    margin-bottom: 10rem;
}

/* .row .row1 .img-box{
    background: url("/img/mushroom.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row .row2 .img-box{
    background: url("/img/chocolate mousse.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}  */

.row1 .img-box, .row2 .text-box{
    float: left;
    width: 50%;
}
.row2 .img-box, .row1 .text-box{
    float: right;
    width: 50%;
    /* letter-spacing: 0rem; */
}
/* 
.row .img-box{
    height: 100%;
} */
.row .text-box{
    /* box-sizing: border-box; */
    /* background-color: aqua; */
    height: 100%;
    padding: 1.5rem;
}

.row .img-box1{
    background: url("/img/mushroom.jpg");
    display: inline-block;
    width: 50%;
    height: 100%;
    /* object-fit: cover; */

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.row .img-box2{
    background: url("/img/strawberry chocolate.jpg");
    display: inline-block;
    width: 50%;
    height: 100%;
    /* object-fit: cover; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* to make it responsive later because when we float contents inside the row, the height usually changes*/
.row::after{
    content: '';
    display: block;
    clear: both;
}


/* ################################################# FEATURES SECTION STYLING###################################### */

.features{
    padding: 10rem 0;
    color: white;
    background-color: bisque;
}
.box-wrapper{
    box-shadow: 5px 5px 20px 0px rgba(210, 105, 30, 0.425);
}
.box{
    width: 33.33333%;
    float: left;
    padding: 1rem;
    text-align: center;
}

.box1, .box3{
    /* background-color: black; */
    background-color: #1f0f0f;
}

.box2{
    background-color: #790938;
}
.box-wrapper::after{
    content: "";
    display: block;
    clear: both;
}


/* .box1{
    float: left;
}
.box2{
    float: left;
}
.box3{
    float: left;
} */

/* ########################################### FOOTER ######################################### */

.footer{
    background-color: #0f0707;
    text-align: center;
    padding: 2rem;
}

.social-media-links i{
    margin: 2rem;
}



/* ################################## About/RECIPES ########################################## */

.recipes{
    padding: 5rem 0rem;
    color: #790938;
}

/* .recipes-heading{
    border-bottom: 6px solid #790938;
} */
/* Let's user pseudo elements for underline instead. Video 101 */

.recipes-heading::after{
    content: " ";
    display: block;
    border: 3px solid #0f0707;
    width: 100%;
}

.about-wrapper{
    /* border: 2px solid purple; */
    text-align: center;
    margin-top: 2rem ;
}

.about-wrapper .left{
    float: left;
    width: 50%;
}

.about-wrapper .right{
    float: right;
    width: 50%;
}

.about-wrapper::after{
    content: "";
    display: block;
    clear: both;
}

/* 
.about-wrapper li{
    list-style: tick; // this does not work
} */

.about-wrapper li::before{
    content: "\2713";
    color: #1f0f0f;
    font-weight: bold;
    padding-right: 0.5rem;
}

/* ###################################### COUNT styling ############################ */
.counts{
    margin-top: 3rem;
}

.count-item{
    float: left;
    width: 25%;
    text-align: center;
}

.counts::after{
    content: "";
    display: block;
    clear: both;
}

.count-item span{
    font-size: 2.5rem;
    font-weight: 700;
    color: red;
}
.count-item p{
    font-weight: 700;
    font-size: 1.8rem;
    color: #1f0f0f;
}

/* ################################################# Banner STyling CTA - Call To Action#############################  */

.cta-banner{
    background: linear-gradient(90deg, rgba(105,22,69,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: white;
    padding: 1rem;
    box-shadow: 0px 0px 10px rgba(105, 22, 69, 0.705);
    margin-top: 3rem;
}

.cta-banner-left{
    float: left;
    width: 60%;
}

.cta-banner-right{
    float: right;
    width: 40%;
    text-align: right;
}

.cta-line{
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 1.05rem;
}

.btn-cta{
    text-align: center;
    display: inline-block;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    border: 4px solid white;
    padding: 0.3em 2.5em;
    letter-spacing: 0.05rem;
    margin-top: 0.5rem;
}

.cta-banner::after{
    content: "";
    display: block;
    clear: both;
}

/* ############################################# CONTACT PAGE STYLING ########################################### */

.contact-form{
    padding: 5rem 0;
    background: rgba(105,22,69,1);
    color: white;
}

.form-wrapper .company-address{
    height: 700px;
    background: #1f0f0ff6;
    float: left;
    width: 49%;
    padding: 0.5rem;
}

.form-wrapper .company-address i{
    display: inline-block;
    margin-right: 1rem;
}

.form-wrapper .company-address h2{
    display: inline-block;
    text-transform: uppercase;
    font-size: 2rem;
}

.form-wrapper .address-group{
    margin-bottom: 0.5rem;
}

.form-wrapper .company-address img{
    max-width: 100%;
    max-height: 25rem;
    object-fit: cover;
    object-position: right;
}

.form-wrapper::after{
    content: "";
    display: block;
    clear: both;
}

/* ##################################################### FORM STYLING ####################################### */


.form-wrapper .form{
    font-size: 1.6rem;
    background: #1f0f0ff6;
    float: right;
    width: 49%;
    padding: 1rem;
    height: 700px;
}

.form h1::after{
    content: "";
    display: block;
    border: 2px solid white;
    width: 100%;
}

.form-wrapper .form label{
    display: block;
}

.form-wrapper .form input{
    display: block;
    padding: 0.5rem;
    width: 100%;
}

.form-wrapper .form .form-group{
    margin-bottom: 1.2rem;
}

.form-wrapper .form label::after{
    content: "* ";
    color: white;
}

.form-wrapper .form textarea{
    width: 100%;
    height: 100px;
    padding: 1rem;
}

.form-btn{
    font-family: "Dancing Script", cursive;
    display: block;
    margin: 0 auto;
    padding: 0.5em 3em;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    border: none;
    cursor: pointer;
}
.form-btn:hover{
    background-color: rgba(105,22,69,1);
    color: white;
}


/* 
.count-item{
    border: 2px solid black;
    display: inline-block;
    padding: 2rem 2rem;
    margin: 2rem 3.4rem;
    text-align: center;
}
.count-item span{
    color: red;
    font-size: 1rem;
    font-weight: bolder;
} */

/* .recipes p{
    font-size: 1.5rem;
    font-weight: 400;
}

.list{
    background-color: pink;
    display: inline-block;
    margin: 1rem 6rem;
} */




/* ############################# Mine ############################# */
.showcase h1, h2, h3{
    /* margin-bottom: 0.5em; */
    letter-spacing: 0.05em;
    font-weight: 400;
}

section, footer p{
    font-size: 1rem;
    margin-bottom: 0.5em; /* 0.5 * 1.6rem*/
    letter-spacing: 0.15em;
}

section h1, h2, h3{
    margin: 0.005rem 0.005rem;
    letter-spacing: 0.1em;
    font-weight: 400;
}

/* .demo{
    display: inline-block;
    padding: 1em 1.5em;
    border: 2px solid purple;
    margin: 2rem 3.5rem;
} */

/* .row .row1 .img-box{
    background: url("/img/mushroom.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row .row2 .img-box{
    background: url("/img/chocolate mousse.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}  */

/* 
.features{
   
    background: black;
    color: white;
    padding: 10rem 0;
    
}
.features .box{
    border: 2px solid white;
    width: 100%;
    padding: 1.5em;
    /* margin: 3em; */
    /* display: inline-block; */
    /* margin: 1.5rem; */
/* }
.features .box1, .box2, .box3{
    display: inline-block;
}

.features .box1{
    display: inline-block;
    width: 25%;
}
.features .box2{
    display: inline-block;
    width: 25%;
    background-color: #1f0f0f;
}
.features .box3{
    display: inline-block;
    width: 25%;
}

.features::after{
    content: '';
    display: block;
    clear: both;
} */ 

/* 
footer{
    background-color: #0f0707;
}

.end{
    text-align: center;
}
i{
    padding: 1rem 1rem;
} */



/* ####################################### MEDIA QUERIES ######################################## */

@media (max-width: 500px){
    html{
        font-size: 50%;
        /* font-size: 8px%; */
    }
    p{
        font-size: 1.8rem;
    }
    .navbar .nav-items, .navbar .logo{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }

    .row {
        height: auto;
        width: 100%;
    }
    .row .img-box, .row .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }
    .features .box{
        float: none;
        height: auto;
        width: 100%;
        text-align: center;
        box-shadow: 5px 5px 20px 0px rgba(210, 105, 30, 0.425);

    }
    .features .box2,
    .features .box3{
        margin-top: 1rem;
    }
    .box-wrapper{
        box-shadow: none;
    }
    .cta-banner-left, .cta-banner-right{
        float: none;
        width: 100%;
        text-align: center;
    }
    .form-wrapper .company-address{
        float: none;
        height: auto;
        width: 100%;
        margin-bottom: 5rem;
    }
    .form-wrapper .form{
        float: none;
        height: auto;   
        width: 100%;
    }
}

@media(min-width: 501px) and (max-width: 768px){
    html{
        font-size: 8px;
    }
    p{
        font-size: 1.8rem;
    }
    .navbar .nav-items, .navbar .logo{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }

    .row {
        height: auto;
        width: 100%;
    }
    .row .img-box, .row .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }
    .features .box{
        float: none;
        height: auto;
        width: 100%;
        text-align: center;
        box-shadow: 5px 5px 20px 0px rgba(210, 105, 30, 0.425);

    }
    .features .box2,
    .features .box3{
        margin-top: 1rem;
    }
    .box-wrapper{
        box-shadow: none;
    }
    .cta-banner-left, .cta-banner-right{
        float: none;
        width: 100%;
        text-align: center;
    }
    .form-wrapper .company-address{
        float: none;
        height: auto;
        width: 100%;
        margin-bottom: 5rem;
    }
    .form-wrapper .form{
        float: none;
        height: auto;   
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width:1200px){
    html{
        font-size: 56.25%;
    }
}

@media (orientation: landscape)and (max-height: 500px){
    .header{
        height: 90vmax; /*90 percent of max of width*/
    }
}